<!DOCTYPE html>
<html lang="en">
<head>
        {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include '/comm/sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include '/comm/adtopbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">트레이딩 설정 수정 ( 설정번호 : {{ setno }} )</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="/setupbid2" method="post" onsubmit="return confirm('설정내용을 저장하시겠습니까?');">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                         <colgroup>
                                             <col width="20%" />
                                             <col width="30%" />
                                             <col width="30%" />
                                             <col width="20%" />
                                         </colgroup>
                                         <thead>
                                         <tr>
                                             <td style="text-align: center"><h5>선택 코인</h5></td>
                                             <td colspan="2"><select id="coinn" name="coinn" class="form-control selectpicker" data-live-search="true">
                                                     <option value="" >코인을 선택하세요</option>
                                                 {% for coin in coinlist %}
                                                     {% if (coin != "KRW-SHIB") and (coin != "KRW-PEPE") and (coin != "KRW-BTT") and (coin != "KRW-BONK") and (coin != "KRW-XEC") %}
                                                     {% if (coin != coinA) and (coin != coinB) %}
                                                     <option value="{{ coin }}">{{ coin }}</option>
                                                     {% endif %}
                                                     {% endif %}
                                                 {% endfor %}</select></td>
                                             <td style="text-align: center">
                                                 <div style="display: inline-block">
                                                 <button type="submit" value="submit" id = "savebtn" class="form-control btn btn-google" disabled>설정 저장</button>
                                                 </div>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>시작 금액 (1차 매수)</h5></td>
                                             <td colspan="2">
                                                 <input id="initprice" name="initprice" class="form-control" type="text" value="10000" max="500000"placeholder="10,000" style = "text-align: right" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" /></td>
                                             <td style="text-align: center"><input type="text" name="skey" value="{{ session["setkey"] }}" style="display: none">
                                                 <input type="text" name="userno" value="{{ session["userNo"] }}" style="display: none">
                                                 <input type="text" name="svrno" value="{{ session["serverNo"] }}" style="display: none">
                                                 <input type="text" name="tabindex" value="{{ tabindex }}" style="display: none">
                                                 <input type="text" name="sno" value="{{ setno }}" style="display: none">
                                                 <div class="row" style="display: inline-block">
                                                 <div style="display: inline-block">
                                                 <button type="button" class="form-control btn btn-primary" onclick="setbid()">소요금액확인</button>
                                                 </div>
                                                 </div>
                                             </td>
                                         </tr>
                                         <tr style="display: none">
                                             <td style="text-align: center"> <h5>구간 설정</h5></td>
                                             <td colspan="2"><select id="bidsteps" name="bidsteps" class="form-control" style="text-align: right">
                                                                 <option value="6">07</option>
                                                                 <option value="7">08</option>
                                                                 <option value="8">09</option>
                                                                 <option value="9" selected >10</option></select></td>
                                             <td style="text-align: center">
                                             </td>
                                         </tr>
                                         </thead>
                                         <tr>
                                             <td style="text-align: center"> <h5>투자 성향 </h5></td>
                                             <td colspan="2"><select id="tradeset" name="tradeset" class="form-control" style="text-align: right">
                                                             {% for set in setlist %}
                                                                 <option value="{{ set[0] }},{{ set[2] }},{{ set[2] }}">{{ set[1] }}</option>
                                                             {% endfor %}</select>
                                             </td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr style="text-align: center">
                                             <td>투자한계금액</td>
                                             <td><select id="limityn" name="limityn">
                                                 <option value="N" selected>OFF</option>
                                                 <option value="Y">ON</option>
                                             </select></td>
                                             <td><input id="limitamt" name="limitamt" class="form-control" type="text" value="3000000" placeholder="3,000,000" max="10000000" min="100000" step="50000" style = "text-align: right" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" /></td>
                                             <td></td>
                                         </tr>
                                         <tr style="text-align: center">
                                             <td></td>
                                             <td>매수금액</td>
                                             <td>필요금액</td>
                                             <td></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center; vertical-align: center"> <h5>1차 매수 </h5></td>
                                             <td id="trvalst" style="text-align: right"></td>
                                             <td style="text-align: right" id = "trsumst"></td>
                                             <td></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>2차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>3차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>4차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>5차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>6차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>7차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>8차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>9차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                         <tr>
                                             <td style="text-align: center"> <h5>10차 매수 </h5></td>
                                             <td class="trval" style="text-align: right"></td>
                                             <td style="text-align: right" class = "trsum"></td>
                                             <td style="text-align: center"></td>
                                         </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; K3 Labs 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
     <!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</body>
<script>
     $('.selectpicker').selectpicker({
      style: 'btn-inverse',
      size: 40
     });
    $(document).ready(function () {
        setinit();
    });
    $('#initprice').change(function(){
        var valu = $('#initprice').val();
        if (valu < 10000){
            valu = 10000
        } else if (valu > 500000){
            valu = 500000
        }
        $('#initprice').val(numberWithCommas(valu));
        document.getElementById('trvalst').innerText = "-";
        document.getElementById('trsumst').innerText = "-";
    });
    $('#limitamt').change(function(){
        var valu = $('#limitamt').val();
        if (valu < 100000){
            valu = 100000
        }else{
            valu > 10000000 ? valu = 10000000 : valu;
        }
        $('#limitamt').val(numberWithCommas(valu));
    });
    $('#steprate').change(function(){
        var grate = $('#steprate').val();
    });

    $('#coinn').change(function() {
        var coinv1 = $('#coinn').val();
        if (coinv1 != "") {
            $('#coinn').selectpicker('refresh');
            $('#savebtn').prop('disabled', false);
        } else {
            $('#savebtn').prop('disabled', true);
        }
    });
    $('#tradeset').change(function(){
        var trholdno = $('#tradeset').val();
        var trintv = trholdno.split(',');
        var intv = trintv[2];
       $('#bidsteps').val(intv);
    });

    $('#profitrate').change(function(){
        var irate  = $('#profitrate').val();
        var $Iarr = $(".intinput");
        if ($('#intchkb').is(":checked") === true) {
            for (k=0; k<$Iarr.length; k++){
                $Iarr[k].value = irate;
            }
        } else {
        }
    });

    function setinit(){
        var trholdno = $('#tradeset').val();
        var trintv = trholdno.split(',');
        var intv = trintv[2];
       $('#bidsteps').val(intv);
    }

    function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
    function numberNoneCommas(x) {
		return x.toString().replace(/[\D\s\._\-]+/g, "");
	}

    function setbid(){
        var intv = numberNoneCommas($('#initprice').val());
        var $Aarr = $(".trval");
        var $Barr = $(".trsum");
        var setval = intv;
        var sumval = parseInt(intv);
        document.getElementById('trvalst').innerText = numberWithCommas(setval);
        document.getElementById('trsumst').innerText = numberWithCommas(setval);
        for (var i = 0; i < 10; i++) {
            if (i < $("#bidsteps").val()){
                if ($('#doublechk').is(":checked") === true) {
                    setval = sumval *2 ;
                } else {
                    setval = setval *2 ;
                }
            sumval = parseInt(sumval) + parseInt(setval);
            $Aarr[i].innerText = numberWithCommas(setval);
            $Barr[i].innerText = numberWithCommas(sumval);
            } else {
                $Aarr[i].innerText = "0";
                $Barr[i].innerText = "0";
            }
        }
    }

</script>
</html>
