<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">추천 코인 목록</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead style="text-align: center">
                                <th>코인명</th>
                                <th>정보수집일자</th>
                                <th>현재가</th>
                                <th>현재 거래량</th>
                                <th>기준 거래금액(09시~)</th>
                                <th>24시간 거래금액</th>
                                <th>기준 거래량(09시~)</th>
                                <th>24시간 거래량</th>
                                <th>거래추세</th>
                                <th>변화율</th>
                                <th>설정화면</th>
                                </thead>
                                <tbody>
                                {% for trendcoin in hotcoins %}
                                    <tr>
                                        <td style="text-align: center" class="coinn"><a
                                                href="https://upbit.com/exchange?code=CRIX.UPBIT.{{ trendcoin[0] }}">{{ trendcoin[0] }}</a>
                                        </td>
                                        <td style="text-align: center" class="setdatetime">
                                            {{ trendcoin[1] }}{{ trendcoin[2] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[3] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[4] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[5] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[6] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[7] }}</td>
                                        <td style="text-align: right" class="setnumb">{{ trendcoin[8] }}</td>
                                        <td style="text-align: center">{{ trendcoin[9] }}</td>
                                        <td style="text-align: right">{{ trendcoin[10] }}</td>
                                        <td style="text-align: center">
                                            <button class="btn-primary"
                                                    onclick="location.href='/tradeSet?coinn={{ trendcoin[0] }}'">투자 설정
                                                변경
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; K3 Labs 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}
<script>
    $(document).ready(function () {
        calcvalue();
        setdatetimerow();
        $('#dataTable').dataTable();
    });


    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function calcvalue() {
        $Aarr = $(".setnumb");
        for (var i = 0; i < $Aarr.length; i++) {
            var aval = parseFloat($Aarr[i].innerText).toFixed(2);
            $Aarr[i].innerText = numberWithCommas(aval);
        }
    }

    function setdatetimerow() {
        $Barr = $(".setdatetime");
        for (var i = 0; i < $Barr.length; i++) {
            var inntxt = $Barr[i].innerText;
            var year = inntxt.substr(0, 4);
            var mon = inntxt.substr(4, 2);
            var day = inntxt.substr(6, 2);
            var hour = inntxt.substr(8, 2);
            var minute = inntxt.substr(10, 2);
            var second = inntxt.substr(12, 2);
            var setdate = year + '/' + mon + '/' + day + ' ' + hour + ':' + minute + ':' + second;
            $Barr[i].innerText = setdate;
            setdate = "";
        }
    }
</script>
{% include '/comm/adscripttable.html' %}
</body>
</html>
