<!DOCTYPE html>
<html lang="en">
<head>
        {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include '/comm/sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include '/comm/adtopbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">나의 수익 현황</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr  style="text-align: center">
                                            <th>집계 일자</th>
                                            <th>잔고</th>
                                            <th>차액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                         <tr style="text-align: right">
                                         <td class = "coins" style="text-align: center" >{{ item[1] }}</td>
                                         <td class="vola">{{ item[2] }}</td>
                                         <td class="volb"></td>
                                         </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; K3 Labs 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
     <!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}
<script>
    $(document).ready(function () {
        calbenifit();
        setcurr();
    });

    function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

    function numberNoneCommas(x) {
		return x.toString().replace(/[\D\s\._\-]+/g, "");
	}

    function setcurr(){
        $Aarr = $(".vola");
        $Barr = $(".volb");
        for (var i = 0; i < $Aarr.length; i++) {
            var cur = $Aarr[i].innerText;
            var inccur = $Barr[i].innerText;
            $(".vola").html(numberWithCommas(cur));
            $(".volb").html(numberWithCommas(inccur));
        }
    }

    function calbenifit(){
        $Aarr = $(".vola");
        $Barr = $(".volb");
        for (var i = 0; i<$Aarr.length; i++){
            if (i === 0){
                var cur = $Aarr[i].innerText;
            }else{
                var cur = $Aarr[i-1].innerText;
            }
            var bur = $Aarr[i].innerText;
            aval = bur - cur ;
            $Barr[i].innerText = aval;
        }
    }


</script>
</body>
</html>
