<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h5 class="m-0 font-weight-bold text-primary">멀티 트레이딩 설정</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form action="/setupmultitrade" method="post" onsubmit="return confirm('설정내용을 저장하시겠습니까?');">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <colgroup>
                                        <col width="20%"/>
                                        <col width="30%"/>
                                        <col width="30%"/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <td style="text-align: center"><h5>추천코인</h5></td>
                                        <td colspan="2">

                                            {% for coin in coinlist %}
                                                <div class="form-check form-check-inline"><input
                                                        class="form-check-input" type="checkbox" name="inlineCheckbox1"
                                                        value="{{ coin[0] }}">
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox1">{{ coin[0] }}</label>
                                                </div>
                                            {% endfor %}

                                        </td>
                                        <td style="text-align: center">
                                            <div style="display: inline-block">
                                                <button type="submit" value="submit"
                                                        class="form-control btn btn-google">매매 설정 저장
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center"><h5>코인당 투자금액</h5></td>
                                        <td colspan="2"><input type="text" id="trasset" name="trasset"
                                                               class="form-control" style="text-align: right"
                                                               value="210000"></td>
                                        <td style="text-align: center"><input type="text" id="initprice"
                                                                              name="initprice" value="30000"
                                                                              style="display: none">
                                            <input type="text" name="skey" value="{{ session["setkey"] }}"
                                                   style="display: none">
                                            <input type="text" name="userno" value="{{ session["userNo"] }}"
                                                   style="display: none">
                                            <input type="text" name="svrno" value="{{ session["serverNo"] }}"
                                                   style="display: none">
                                            <div style="display: inline-block">
                                                <button type="button" class="form-control btn btn-primary"
                                                        onclick="setbid()">투자플랜확인
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="display: none">
                                        <td style="text-align: center"><h5>구간 설정</h5></td>
                                        <td colspan="2"><select id="bidsteps" name="bidsteps" class="form-control"
                                                                style="text-align: right">
                                            <option value="3">04</option>
                                            <option value="4" selected>05</option>
                                        </select></td>
                                        <td style="text-align: center">

                                        </td>
                                    </tr>
                                    </thead>
                                    <tr style="display: none">
                                        <td style="text-align: center"><h5>투자 성향 </h5></td>
                                        <td colspan="2"><select id="tradeset" name="tradeset" class="form-control"
                                                                style="text-align: right">
                                            {% for set in setlist %}
                                                <option value="{{ set[0] }}">{{ set[1] }}</option>
                                            {% endfor %}</select></td>
                                        <td style="text-align: center"><input type="checkbox" id="doublechk"
                                                                              name="doublechk" disabled><label
                                                for="doublechk">자금투입(더블)</label></td>
                                    </tr>
                                    <tr style="text-align: center">
                                        <td></td>
                                        <td>매수금액</td>
                                        <td>필요금액</td>
                                        <td>hold 설정</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; vertical-align: center"><h5>1차 매수 </h5></td>
                                        <td id="trvalst" style="text-align: right"></td>
                                        <td style="text-align: right" id="trsumst"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center"><h5>2차 매수 </h5></td>
                                        <td class="trval" style="text-align: right"></td>
                                        <td style="text-align: right" class="trsum"></td>
                                        <td style="text-align: center"><input type="radio" name="holdno" value="0"
                                                                              checked><label for="holdno"> hold 설정
                                            없음</label></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center"><h5>3차 매수 </h5></td>
                                        <td class="trval" style="text-align: right"></td>
                                        <td style="text-align: right" class="trsum"></td>
                                        <td style="text-align: center"><input type="radio" name="holdno"
                                                                              value="2"><label for="holdno"> 3 단계 hold
                                            설정</label></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; K3 Labs 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->

{% include '/comm/adscript.html' %}
</body>
<script>
    $(document).ready(function () {
        setbid();
    });

    $('#initprice').change(function () {
        var valu = $('#initprice').val();
        if (valu < 5000) {
            valu = 5000
        }
        $('#initprice').val(numberWithCommas(valu));
        document.getElementById('trvalst').innerText = "-";
        document.getElementById('trsumst').innerText = "-";
    });

    $('#steprate').change(function () {
        var grate = $('#steprate').val();
    });

    $('#trasset').change(function () {
        var trasser = $('#trasset').val();
        var iniasset = float(trasser) * (1 / 7);
        $('#initprice').val(iniasset);
        setbid();
    });

    $('#profitrate').change(function () {
        var irate = $('#profitrate').val();
        var $Iarr = $(".intinput");
        if ($('#intchkb').is(":checked") === true) {
            for (k = 0; k < $Iarr.length; k++) {
                $Iarr[k].value = irate;
            }
        } else {

        }
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function setbid() {
        var intv = numberNoneCommas($('#initprice').val());
        var $Aarr = $(".trval");
        var $Barr = $(".trsum");
        var setval = intv;
        var sumval = parseInt(intv);
        document.getElementById('trvalst').innerText = numberWithCommas(setval);
        document.getElementById('trsumst').innerText = numberWithCommas(setval);
        for (var i = 0; i < 3; i++) {
            if (i < $("#bidsteps").val()) {
                if ($('#doublechk').is(":checked") === true) {
                    setval = sumval * 2;
                } else {
                    setval = setval * 2;
                }
                sumval = parseInt(sumval) + parseInt(setval);
                $Aarr[i].innerText = numberWithCommas(setval);
                $Barr[i].innerText = numberWithCommas(sumval);
            } else {
                $Aarr[i].innerText = "0";
                $Barr[i].innerText = "0";
            }
        }
    }
</script>
</html>
