<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/adheader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/comm/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/comm/adtopbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">다중 투자용 추천코인 관리</h1>
                <div class="table-responsive">
                    <div style="float:right">
                        <button class="btn btn-danger" onclick="savelist()">추천종목 저장</button>
                    </div>
                    <table class="table" id="coinTables">
                        <thead style="text-align: center">
                        <th>코인명</th>
                        <th>현재가</th>
                        <th>매수 거래량</th>
                        <th>매도 거래량</th>
                        <th>거래금액</th>
                        <th>추천여부</th>
                        </thead>
                        {% for coin in coindtls %}
                            <tr>
                                <td style="text-align: center" class="coinn">{{ coin["market"] }}</td>
                                <td style="text-align:right"
                                    class="askprice"> {{ coin["orderbook_units"][0]['ask_price'] }}</td>
                                <td style="text-align:right" class="bidsize"> {{ coin["total_bid_size"] }}</td>
                                <td style="text-align:right" class="asksize">{{ coin["total_ask_size"] }}</td>
                                <td style="text-align:right" class="trsize">
                                    {% for trs in trval %}
                                        {% if coin["market"] == trs[0] %}{{ trs[1] }}{% endif %}
                                    {% endfor %}
                                </td>
                                <td style="text-align: center"><input type="checkbox" class="chkhot" name="hotchk"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; K3 Labs 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include './comm/adscript.html' %}
{% include './comm/adscripttable.html' %}
</body>
<script src="{{ url_for('static', filename ='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename ='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script>
    $(document).ready(function () {
        makecurrency();
        $('#coinTables').DataTable();
    });

    function makecurrency() {
        var $Aarr = $(".askprice");
        var $Barr = $(".bidsize");
        var $Carr = $(".asksize");
        var $Darr = $(".trsize");
        for (var i = 0; i < $Aarr.length; i++) {
            var price = $Aarr[i].innerText;
            var bidsz = $Barr[i].innerText;
            bidsz = Math.round(bidsz);
            var asksz = $Carr[i].innerText;
            asksz = Math.round(asksz);
            var trsz = $Darr[i].innerText;
            trsz = Math.round(trsz);
            $Aarr[i].innerText = numberWithCommas(price);
            $Barr[i].innerText = numberWithCommas(bidsz);
            $Carr[i].innerText = numberWithCommas(asksz);
            $Darr[i].innerText = numberWithCommas(trsz);
        }
    }

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function hotyn(coinn, yn) {
        data = [coinn, yn]
        $.ajax({
            type: "POST",
            url: '/hotyn',
            data: data,
            processData: false,
            contentType: false,
            success: (res) => {
                console.log(res);
            }
        });
    }

    function savelist() {
        var $Aarr = $(".coinn");
        var $Barr = $(".chkhot");
        for (var i = 0; i < $Aarr.length; i++) {
            if ($Barr[i].checked === true) {
                var coin = $Aarr[i].innerText;
                var yn = 'Y';
                hotyn(coin, yn);
            } else {
                var coin = $Aarr[i].innerText;
                var yn = 'N';
                hotyn(coin, yn);
            }
        }
        alert("추천 코인 저장이 완료 되었습니다.")
    }
</script>
</html>
