<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/comm/header.html' %}
    <style>
        .container {
            padding-right: 0;
            overflow: auto;
        }

        .chartContents {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding-bottom: 20px;
        }

        .chartContents > div {
            border: 1px solid #BDBDBD;
            padding: 10px;
            box-shadow: 3px 3px 3px 3px #BDBDBD;
            margin-right: 20px;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
<div id="commonTopHeader">
    {% include '/comm/commTopHeader.html' %}
</div>

<div id="commonBodyContents">
    {% include '/comm/sidemenuadmin.html' %}
    <!-- commonSideMenu end-->

    <div id="commonContent">
        <div class="container">
            <hr>
            <div>
                <form action="/updateset" method="post" onsubmit="return confirm('설정내용을 저장하시겠습니까?');">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="20%"/>
                            <col width="25%"/>
                            <col width="25%"/>
                            <col width="15%"/>
                            <col width="15%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <td style="text-align: center">
                                <h5>트레이딩 설정명</h5>
                            </td>
                            <td colspan="3">
                                <input name="settitle" type="text" class="form-control" value="{{ rows[1] }}">
                                <input name="setno" id="setno" type="text" class="form-control" value="{{ rows[0] }}"
                                       style="display: none">
                            </td>
                            <td>
                                <button type="submit" value="submit" class="form-control btn btn-primary"> 수정</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>시작 금액 (1차 구매)</h5></td>
                            <td colspan="3">
                                <input id="initprice" name="initprice" class="form-control" type="text" value="5000"
                                       placeholder="5,000" style="text-align: right"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                            </td>
                            <td style="text-align: center">
                                <input type="text" name="skey" value="{{ session["setkey"] }}" style="display: none">
                                <input type="text" name="userno" value="{{ session["userNo"] }}" style="display: none">
                                <input type="text" name="svrno" value="{{ session["serverNo"] }}" style="display: none">
                                사용여부 <br>
                                <input type="checkbox" id="chkyn" name="chkyn" {% if rows[23]=='Y' %}checked{% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>구간 설정</h5></td>
                            <td colspan="3">
                                <select id="bidsteps" name="bidsteps" class="form-control" style="text-align: right">
                                    <option value="1" {% if rows[2]==1 %}selected{% endif %}>02</option>
                                    <option value="2" {% if rows[2]==2 %}selected{% endif %}>03</option>
                                    <option value="3" {% if rows[2]==3 %}selected{% endif %}>04</option>
                                    <option value="4" {% if rows[2]==4 %}selected{% endif %}>05</option>
                                    <option value="5" {% if rows[2]==5 %}selected{% endif %}>06</option>
                                    <option value="6" {% if rows[2]==6 %}selected{% endif %}>07</option>
                                    <option value="7" {% if rows[2]==7 %}selected{% endif %}>08</option>
                                    <option value="8" {% if rows[2]==8 %}selected{% endif %}>09</option>
                                    <option value="9" {% if rows[2]==9 %}selected{% endif %}>10</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="form-control btn btn-primary" onclick="setbid()">설정적용
                                </button>
                            </td>
                        </tr>
                        </thead>
                        <tr>
                            <td style="text-align: center"><h5>구간 간격 (%) </h5></td>
                            <td colspan="3">
                                <div style="text-align: right">
                                    <div>
                                        <input id="steprate" name="steprate" style="text-align: right"
                                               class="form-control" type="number" min="0" max="10" step="0.01"
                                               value="{{ rows[3] }}">
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center">
                                일괄설정<br>
                                <input type="checkbox" id="gapchkb">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>설정 이율 (%) </h5></td>
                            <td colspan="3">
                                <div>
                                    <div>
                                        <input id="profitrate" name="profitrate" style="text-align: right"
                                               class="form-control" type="number" min="0" max="10" step="0.01"
                                               value="{{ rows[13] }}">
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center">
                                일괄설정<br>
                                <input type="checkbox" id="intchkb">
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <td>

                            </td>
                            <td>
                                매수금액
                            </td>
                            <td>
                                필요금액
                            </td>
                            <td>
                                간격(%)
                            </td>
                            <td>
                                이율(%)
                            </td>

                        </tr>
                        <tr>
                            <td style="text-align: center; vertical-align: center"><h5>최초 구매 </h5></td>
                            <td id="trvalst" style="text-align: right">
                            </td>
                            <td style="text-align: right" id="trsumst">
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>2차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap01" name="gap01" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[4] }}">
                            </td>
                            <td>
                                <input id="int01" name="int01" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[14] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>3차 구매 </h5></td>
                            <td class="trval" style="text-align: right">
                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap02" name="gap02" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[5] }}">
                            </td>
                            <td>
                                <input id="int02" name="int02" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[15] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>4차 구매 </h5></td>
                            <td class="trval" style="text-align: right">
                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap03" name="gap03" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[6] }}">
                            </td>
                            <td>
                                <input id="int03" name="int03" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[16] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>5차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap04" name="gap04" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[7] }}">
                            </td>
                            <td>
                                <input id="int04" name="int04" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[17] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>6차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap05" name="gap05" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[8] }}">
                            </td>
                            <td>
                                <input id="int05" name="int05" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[18] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>7차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap06" name="gap06" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[9] }}">
                            </td>
                            <td>
                                <input id="int06" name="int06" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[19] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>8차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap07" name="gap07" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[10] }}">
                            </td>
                            <td>
                                <input id="int07" name="int07" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[20] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>9차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap08" name="gap08" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[11] }}">
                            </td>
                            <td>
                                <input id="int08" name="int08" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[21] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>10차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap09" name="gap09" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int09" name="int09" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>11차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap10" name="gap10" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int10" name="int10" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>12차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap11" name="gap11" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int11" name="int11" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>13차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap12" name="gap12" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int12" name="int12" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>14차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap13" name="gap13" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int13" name="int13" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>15차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap14" name="gap14" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int14" name="int14" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>16차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap15" name="gap15" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int15" name="int15" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>17차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap16" name="gap16" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int16" name="int16" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>18차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap17" name="gap17" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int17" name="int17" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>19차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap18" name="gap18" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int18" name="int18" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><h5>20차 구매 </h5></td>
                            <td class="trval" style="text-align: right">

                            </td>
                            <td style="text-align: right" class="trsum">
                            </td>
                            <td>
                                <input id="gap19" name="gap19" style="text-align: right" class="form-control gapinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[12] }}">
                            </td>
                            <td>
                                <input id="int19" name="int19" style="text-align: right" class="form-control intinput"
                                       type="number" min="0" max="5" step="0.01" value="{{ rows[22] }}">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
    });

    $('#initprice').change(function () {
        var valu = $('#initprice').val();
        if (valu < 5000) {
            valu = 5000
        }
        $('#initprice').val(numberWithCommas(valu));
        document.getElementById('trvalst').innerText = "-";
        document.getElementById('trsumst').innerText = "-";
    });

    $('#steprate').change(function () {
        var grate = $('#steprate').val();
        var $Garr = $(".gapinput");
        if ($('#gapchkb').is(":checked") === true) {
            for (i = 0; i < $Garr.length; i++) {
                $Garr[i].value = grate;
            }
        } else {

        }
    });

    $("#chkyn").change(function () {
        var sno = $("#setno").val();
        if ($('input[name="chkyn"]').is(":checked") === true) {
            settyn(sno, "Y");
        } else {
            settyn(sno, "N");
        }
    });

    function settyn(sno, yn) {
        data = [sno, yn]
        $.ajax({
            type: "POST",
            url: '/settingyn',
            data: data,
            processData: false,
            contentType: false,
            success: (res) => {
                console.log(res);
                location.reload();
            }
        });
    }

    $('#profitrate').change(function () {
        var irate = $('#profitrate').val();
        var $Iarr = $(".intinput");
        if ($('#intchkb').is(":checked") === true) {
            for (k = 0; k < $Iarr.length; k++) {
                $Iarr[k].value = irate;
            }
        } else {

        }
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function numberNoneCommas(x) {
        return x.toString().replace(/[\D\s\._\-]+/g, "");
    }

    function setbid() {
        var intv = numberNoneCommas($('#initprice').val());
        var $Aarr = $(".trval");
        var $Barr = $(".trsum");
        var setval = intv;
        var sumval = parseInt(intv);
        document.getElementById('trvalst').innerText = numberWithCommas(setval);
        document.getElementById('trsumst').innerText = numberWithCommas(setval);
        for (var i = 0; i < 10; i++) {
            if (i < $("#bidsteps").val()) {
                setval = setval * 2;
                sumval = parseInt(sumval) + parseInt(setval);
                $Aarr[i].innerText = numberWithCommas(setval);
                $Barr[i].innerText = numberWithCommas(sumval);
            } else {
                $Aarr[i].innerText = "0";
                $Barr[i].innerText = "0";
            }
        }
    }

</script>
</html>