<div id="mainTopLogo">
    <a href="/dashboard">
        <img src="{{ url_for('static', filename='images/Logo.png')}}" alt="CoinPond LOGO">
    </a>
</div>
<div class="mainTopMenu" id="mainTopMenu">
    <ul>
        <li><button type="button" data-keyword="dashboard" onClick="location.href='/tradestat?uno={{ session["userNo"] }}&skey={{ session["setkey"] }}'">지갑내용 확인</button></li>
        <li><button type="button" data-keyword="monitoring" onClick="location.href='/coindetail?uno={{ session["userNo"] }}&skey={{ session["setkey"] }}'">거래 내역</button></li>
        <li><button type="button" data-keyword="monitoring" onClick="location.href='/peakcoin'">추천 코인 목록</button></li>
        <li><button type="button" data-keyword="tradingsetup" onClick="location.href='/tradeSet'">투자 설정</button></li>
        {% if session["userRole"] == 'ADMIN' %}
        <li><button type="button" data-keyword="tradeingsetupAdmin" onClick="location.href='/adminSet'">관리자 설정</button></li>
        {% endif %}
        {% if session["userRole"] == 'USER' %}
        <li><button type="button" data-keyword="changemyset" onClick="location.href='/changemySet?uno={{ session["userNo"] }}'">사용자 설정</button></li>
        {% endif %}
    </ul>
</div>
<div id="mainInfo">
        <span>{{ session["userName"]}}</span> <a href="/logout">X</a>
</div>