<!DOCTYPE html>
<html lang="en">
<head>
        {% include './comm/adheader.html' %}
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include './comm/sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include './comm/adtopbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h3 class="h3 mb-4 text-gray-800">메세지 목록</h3>
                    <table class="table table-bordered">
                        <thead style="text-align: center">
                        <th>
                            번호
                        </th>
                        <th>
                            내용
                        </th>
                        <th>
                            일자
                        </th>
                        <th>
                            확인
                        </th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td style="text-align: center">{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td style="text-align: center">{{ item[3] }}</td>
                            <td><button type="button" onclick="readmsg({{ item[0] }})">읽음</button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; K3 Labs 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
     <!-- Bootstrap core JavaScript-->
{% include './comm/adscript.html' %}
<script>
    function readmsg(msgno){
        if (confirm("메세지를 읽음 처리 하시겠습니까?")){
        data = [msgno]
        console.log(data);
        $.ajax({
            type: "POST",
            url: '/msgread',
            data: data,
            processData: false,
            contentType: false,
            success: (res) => {
                console.log(res);
                location.reload();
                }
        });
        }}
</script>
</body>
</html>
